.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #9fe3ec9a;
  border-bottom: 1px solid #e9ecef;

  color: white;
}

.header h1 {
  font-size: clamp(24px, 2.5vw, 48px);
  /* text shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.393);
}

/* Remove button appearance */
.scroll-link {
  background: none;
  border: none;
  color: #000000; /* Link color */
  cursor: pointer;
  font-size: clamp(8px, 1vw, 22px);
  font-weight: bold;
  text-decoration: none;
  padding: 0;
}

/* Hover effect */
.scroll-link:hover {
	color: #ffffff; 
}
